*{margin:0; }
body{
   
    margin:5px;
}
#container{
  background-image:  url(../imagenes/fondo.jpg);
}
#contenido{
       background-image: url(../imagenes/html55.jpg);
     padding:100px;
      color:white;
}
.feacture{
 
    width:390px;
  
    text-align: left;
}
a{color: white;}

h2{
    padding-bottom: 25px;}
menu{
 
}